body{
  width: 100%;
  background-color: #001F3F;
  overflow: hidden;   
  font-family: 'Open Sans', sans-serif;
}

.signIn{
  height: 100vh; 
  width: 100%; 
  text-align:center; 
}

.signIn h1, p{
  color: #D3D3D3;
}

.signIn h1{
  padding-top: 5vh; 
}

.signIn-card{
  position: relative; 
  z-index: 1; 
  background-color: rgb(0, 64, 128, 80%);
  width: 30%;
  height: 70%; 
  margin: auto; 
  text-align: center; 
}

.signIn-card h1{
  margin-top: 5vh; 
  padding-top: 5vh; 
  color: #D3D3D3; 
  opacity: 100%; 
}

.signIn-button{
  max-width: 240px; 
  margin: auto; 
  padding: 5vh 4px 4px 4px; 
}

.signIn-card p{
  position: absolute; 
  bottom: 2vh; 
  font-size: 2vh;  
  width: 100%; 
  left: 0; 
}

.signIn-card a{
  color: #3584d4; 
}

.signIn-card .form{
  text-align:center;
  font-size:7vh;
  color:#D3D3D3;
}

.signIn-card label{
  font-size:2.5vh;
  margin-left:10%;
  color:#D3D3D3;
}

.signIn-card input{
  height: 3vh; 
  width: 50%; 
}

.cloud {
  width: 200px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 100px; /* Half of the width for a full circle */
  position: absolute;
  z-index: -1; /* Cloud is behind the other div */
}

.cloud::before,
.cloud::after {
  content: '';
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: -50px;
}

.cloud::before {
  left: 50px;
}

.cloud::after {
  left: 100px;
}

.cloud1 {
  left: 10%;
  width: 250px;
  height: 120px;
  border-radius: 120px;
  animation: moveCloud1 10s linear infinite; /* Adjust the duration as needed */
}

.cloud2 {
  top: 35%;
  left: 50%;
  animation: moveCloud2 22s linear infinite; /* Adjust the duration as needed */
}

.cloud3 {
  top: 60%;
  left: 80%;
  animation: moveCloud3 12s linear infinite; /* Adjust the duration as needed */
}

.cloud4 {
  top: 95%;
  left: 30%;
  animation: moveCloud4 20s linear infinite; /* Adjust the duration as needed */
}

.cloud5 {
  top: 70%;
  left: 20%;
  width: 250px;
  height: 120px;
  border-radius: 120px;
  animation: moveCloud5 10s linear infinite; /* Adjust the duration as needed */
}

.cloud6 {
  top: 15%;
  left: 5%;
  width: 250px;
  height: 120px;
  border-radius: 120px;
  animation: moveCloud5 14s linear infinite; /* Adjust the duration as needed */
}

.cloud7 {
  top: 30%;
  left: 70%;
  animation: moveCloud4 16s linear infinite; /* Adjust the duration as needed */
}

@keyframes moveCloud1 {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes moveCloud2 {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes moveCloud3 {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes moveCloud4 {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes moveCloud5 {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes moveCloud6 {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes moveCloud7 {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

.menu.open > main{
  margin-left: 260px; 
}

.menu.open > .sidebar{
  width: 260px; 

}

.sidebar{
  z-index: 3; 
  margin-top: 50px; 
  width: 0px; 
  flex-shrink: 0; 
 
  height: 100vh; 
  overflow: auto; 
  position: fixed; 
  transition: width 0.5s ease-in-out; 

}

.sidebar-item{
  position: relative;
  display: block;
  padding: 1em; 
  font-size: 1.1em;
  cursor: pointer; 
  text-decoration: none; 

}

.sidebar-title{
  white-space: nowrap;
  display: flex; 
  justify-content: space-between;
  font-size: 25px; 
  vertical-align: middle; 
  color: #D3D3D3;
  font-family: Impact, fantasy; 
  letter-spacing: 1px; 

}

.sidebar-title .toggle-btn{ 
  width: 20px; 
  cursor: pointer;
  transition: transform .3s; 

}

.sidebar-item.open .sidebar-title .toggle-btn{
  transform: rotate(-180deg)
}

.sidebar-content{ 
  white-space: nowrap;
  padding-top: 10px; 
  font-family: Impact, fantasy;
  color: #D3D3D3;
  height: 0; 
  overflow: hidden;

}

.sidebar-item.open > .sidebar-content{
  height: auto; 
  
}

.btn-container{
  z-index: 2; 
  display: inline-block; 
  width: 35px; 
  height: 35px;
  margin-left: 5px; 
  margin-top: 5px; 
  perspective: 800px; 
  vertical-align: auto;
  transition: 0.2s ease;
  position: fixed; 

}

.btn-container.open > .sidebar{
  width: 260px; 
}

.btn-container:active > .btn-card{
  cursor: pointer; 
  transform: rotateY(180deg);

}

.btn-card{
  width: 100%; 
  height: 100%; 
  position: relative; 
  transition: transform 1500ms; 
  transform-style: preserve-3d; 

}

.open-btn{
  backface-visibility: hidden;
  width: 100%; 
  height: 100%;
  position: absolute; 
  vertical-align: middle;

}

.close-btn{
  transform: rotateY(180deg);
  vertical-align: middle;
  backface-visibility: hidden;
  width: 100%; 
  height: 100%; 
  position: absolute; 

}

.home{
  display: inline-block; 
}

.home h1{
  color: #D3D3D3; 
  font-size: 25px;
  font-family: Impact, fantasy; 
  letter-spacing: 1px; 
  white-space: nowrap;
  justify-content: space-between;
  margin-left: 5vh; 
}

.calendar{
  float: left; 
  width: 50vh; 
  height: 50vh; 
  background-color: grey; 
  margin: 20px 0 0 80px; 
  border-radius: 20px; 
  
}

.logBox{
  float: right; 
  width: 110vh; 
  height: 70vh; 
  background-color: grey; 
  margin: 20px 0 0 60px;
  border-radius: 20px; 
}

.logBox textarea{
  width: 100vh;  
  height: 50vh; 
  margin: 0 5vh 0 5vh;
}

.logBox button{
  margin: 2vh 0 0 5vh; 
}


